body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #333;
    color: white;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.search input {
    padding: 5px;
}

.icons a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 20px;
}




.product-page {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.gallery {
    width: 40%;
}

.gallery img {
    width: 100%;
    border: 1px solid #ddd;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails img {
    width: 80px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.details {
    width: 50%;
}

.price {
    font-size: 22px;
    color: #e60000;
}

.stock {
    color: green;
    font-weight: bold;
}

.btn-cart, .btn-fav {
    display: block;
    width: 200px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-fav {
    background: #cc0000;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.btn-checkout {
    display: inline-block;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
